body{
font-family: Arial;
text-align:center;
padding:40px;
background:#f2f2f2;
}

textarea{
width:400px;
height:120px;
font-size:16px;
}

button{
padding:10px 20px;
margin:10px;
font-size:16px;
cursor:pointer;
}

#messages{
width:450px;
margin:auto;
margin-top:20px;
background:white;
padding:20px;
border-radius:10px;
text-align:left;
}

.message{
border-bottom:1px solid #ddd;
padding:10px;
}